body {
    margin: 0;
    background-color: #FFD3C5;
}

img {
    width: 100%;
}

p {
    color: rgb(35, 0, 0);
    font-family: courier, sans-serif;
}

h2 {
    font-family: courier, sans-serif;
}

h1 {
    font-family: courier, sans-serif;
}

a {
    font-family: courier, sans-serif;
    color: black;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "navbar navbar"
    "title title"
    "heading_1 heading_1"
    "paragraph_1 paragraph_1"
    "video video"
    "paragraph_2 paragraph_2"
    "heading_2 heading_2"
    "paragraph_3 paragraph_3"
    "links links"
    "footer footer";
}

.title {
    grid-area: title;
    text-align: center;
    background-color: #FFD3C5;
}

.navbar {
    grid-area: navbar;
    text-align: center;
    background-color: #ffab91;
    padding: 10px;
}

.navbar a {
    padding: 20px;
    font-size: large;
}

.video {
    grid-area: video;
    float: left;
    background-color: #FFD3C5;

}

.heading_1 {
    grid-area: heading_1;
    float: left;
    text-align: center;
    background-color:#ffab91;
}

.paragraph_1 {
    grid-area: paragraph_1;
    float: left;
    background-color: #FFD3C5;
    font-size: large;
}

.heading_2 {
    grid-area: heading_2;
    text-align: center;
    background-color:#ffab91;
}

.paragraph_2 {
    grid-area: paragraph_2;
}

.paragraph_2 p {
    text-align: center;
    font-size: large;
}

.paragraph_3 {
    grid-area: paragraph_3;
}

.paragraph_3 p {
    text-align: center;
    font-size: large;
}

.links {
    grid-area: links;
    background-color: #FFD3C5;
    font-size: large;
    padding: 10px;
    text-align: center;
}

.footer {
    grid-area: footer;
    background-color: #ffab91;
    padding: 10px;
    text-align: center;
    font-size: large;
}