body {
    margin: 0;
    background-color: #a9b4c2;
}

img {
    width: 100%;
}

p {
    color: rgb(35, 0, 0);
    font-family: courier, sans-serif;
}

h2 {
    font-family: courier, sans-serif;
}

h1 {
    font-family: courier, sans-serif;
}

a {
    font-family: courier, sans-serif;
    color: black;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "title title"
    "navbar navbar"
    "heading_1 heading_1"
    "paragraph_1 paragraph_1"
    "video video"
    "paragraph_2 paragraph_2"
    "footer footer";
}

.title {
    grid-area: title;
    text-align: center;
    background-color: #1c2321;
}

.navbar {
    grid-area: navbar;
    text-align: center;
    background-color: #5e6572;
    padding: 10px;
}

.navbar a {
    padding: 10px;
}

.video {
    grid-area: video;
    float: left;
    background-color: #a9b4c2;

}

.heading_1 {
    grid-area: heading_1;
    float: left;
    text-align: center;
    background-color:#5e6572;
}

.paragraph_1 {
    grid-area: paragraph_1;
    float: left;
    background-color: #a9b4c2;
    font-size: large;
}

.paragraph_2 {
    grid-area: paragraph_2;
    float: left;
    background-color: #a9b4c2;
    font-size: large;
}

.paragraph_2 p {
    text-align: center;
}

.paragraph_2 a {
    padding: 10px;
}

.footer {
    grid-area: footer;
    background-color: #5E6572;
    padding: 10px;
    text-align: center;
}