body {
    margin: 0;
    background-color:  #FFD3C5;
}

img {
    width: 100%;
}

p {
    color: black;
    font-family: courier, sans-serif;
}

h2 {
    font-family: courier, sans-serif;
     color: black;
}

h1 {
    font-family: courier, sans-serif;
    color: #000000;
}

a {
    font-family: courier, sans-serif;
    color: #000000;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "title title"
    "navbar navbar"
    "ban_image ban_image"
    "heading_1 heading_1"
    "paragraph_1 image_1"
    "heading_2 heading_2"
    "image_2 paragraph_2"
    "footer footer";
}

.title {
    grid-area: title;
    text-align: center;
    background-color:  #FFD3C5;
}

.ban_image {
    grid-area: ban_image;
    text-align: center;
    height: 450px;
    background-color:  #FFD3C5;
}

.navbar {
    grid-area: navbar;
    text-align: center;
    background-color:  #ffab91;
    padding: 10px;
}

.navbar a {
    padding: 10px;
}

.image_1 {
    grid-area: image_1;
    float: right;
    height: 350px;
    background-color:  #FFD3C5;

}

.heading_1 {
    grid-area: heading_1;
    float: left;
    text-align: center;
    background-color:  #ffab91;
}

.paragraph_1 {
    grid-area: paragraph_1;
    float: left;
    background-color:  #FFD3C5;
    font-size: large;
}

.heading_2 {
    grid-area: heading_2;
    float: right;
    text-align: center;
    background-color:  #ffab91;
}

.image_2 {
    grid-area: image_2;
    float: left;
    height: 400px;
    background-color:  #FFD3C5;
}

.paragraph_2 {
    grid-area: paragraph_2;
    float: right;
    background-color:  #FFD3C5;
    font-size: large;
}

.footer {
    grid-area: footer;
    background-color:  #ffab91;
    padding: 10px;
    text-align: center;
}