body {
    margin: 0;
}
.container {
    display: grid;
    grid-template: 1fr 1fr;
    grid-template-columns: auto;
    grid-template-areas:
    "title title"
    "navbar navbar"
    "ban_image ban_image"
    "heading_1 heading_1"
    "paragraph_1 image_1"
    "heading_2 heading_2"
    "image_2 paragraph_2"
    "footer footer";
}

.title {
    grid-area: title;
    text-align: center;
    background-color: #1c2321;
}

.ban_image {
    grid-area: ban_image;
    text-align: center;
    background-color: #a9b4c2
}

.navbar {
    grid-area: navbar;
    text-align: center;
    background-color: #5e6572
}

.image_1 {
    grid-area: image_1;
    float: right;
}

.heading_1 {
    grid-area: heading_1;
    float: left;
    background-color:#5e6572;
}

.paragraph_1 {
    grid-area: paragraph_1;
    float: left;
    background-color: #a9b4c2;
}

.heading_2 {
    grid-area: heading_2;
    float: right;
    background-color: #5E6572;
}

.paragraph_2 {
    grid-area: paragraph_2;
    float: right;
    background-color: #a9b4c2;
}

.footer {
    grid-area: footer;
    background-color: #5E6572;
    padding: 10px;
}