body {
    margin: 0;
    background-color: #FFD3C5;
}

p {
    color: rgb(35, 0, 0);
    font-family: courier, sans-serif;
}

h2 {
    font-family: courier, sans-serif;
}

h1 {
    font-family: courier, sans-serif;
}

img {
    height: 420px;
    width: 480px;
}

a {
    font-family: courier, sans-serif;
    color: rgb(0, 0, 0);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "navbar navbar"
    "title title"
    "heading_1 heading_1"
    "paragraph_1 image_1"
    "footer footer";
}

.title {
    grid-area: title;
    text-align: center;
    background-color: #FFD3C5;
}

.navbar {
    grid-area: navbar;
    text-align: center;
    background-color: #ffab91;
    padding: 10px;
}

.navbar a {
    padding: 10px;
}

.image_1 {
    grid-area: image_1;
    float: right;
    background-color: #FFD3C5;
    object-fit: cover;
}

.heading_1 {
    grid-area: heading_1;
    text-align: center;
    background-color: #ffa286;
    padding-top: 10px;
}

.paragraph_1 {
    grid-area: paragraph_1;
    float: left;
    background-color: #FFD3C5;
    font-size: large;
}

.footer {
    grid-area: footer;
    background-color: #ffab91;
    padding: 10px;
    text-align: center;
}